<%- include('./partials/header') %>
    <% if (error && message) { %>
        <h1 class="text-center">
            <%- error %>
        </h1>
        <% } %>
            <%- include('./partials/footer') %>