<nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Todo Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/todos">All Todo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/todos/new">New Todo</a>
                </li>
            </ul>
            <% if(username){ %>
                <form class="d-flex align-items-baseline" action="/logout" method="post">
                    <p class="me-3">
                        <%-username %>
                    </p>
                    <button class="btn btn-outline-success" type="submit">Logout</button>
                </form>
                <%}else{ %>
                    <form class="d-flex" action="/login" method="post">
                        <input class="form-control me-2" type="text" placeholder="your username" name="username">
                        <button class="btn btn-outline-success" type="submit">Login</button>
                    </form>
                    <%} %>
        </div>
    </div>
</nav>