<%- include('../partials/header.ejs') %>
    <h1>Edit Post</h1>
    <form action="/posts/<%- post.id %> " method="post">
        <input type="hidden" name="_method" value="patch">
        <%- include("../partials/formInput.ejs") %>
            <input type="submit" value="Edit Post" class="btn btn-outline-success">
    </form>

    <%- include('../partials/footer.ejs') %>