<h1>
    <%- title %>
</h1>

<% for(meme of memes){ %>
    <div>
        <img src="<%-meme %>" alt="meme">
    </div>
    <% } %>

        <!-- This is for comments -->
        <%# # is for comments %>
            <%# - is for displaying and will include html styling %>
                <%#=is for displaying and will not include html styling %>
                    <%# empty is for running JS %>