<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/">Home Page</a>
        <a href="/car_status">Car Status</a>
        <a href="/random_person">Random Person</a>
        <a href="/fizz_buzz">Fizz Buzz</a>
        <a href="/directory_lister">Directory Lister</a>
    </nav>
</body>

</html>