<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory Lister</title>
</head>

<body>
    <h1>
        Please see the below for files
    </h1>
    <ul>
        <% for(let file of files) {%>
            <li>
                <% if(file.includes(".")){ %>
                    <%-file %>
                        <%}else{%>
                            <%-file+" /" %>
                                <%}%>

            </li>
            <% } %>
    </ul>

</body>

</html>