<%- include ('./partial/header.ejs') %>
    <form action="/fizz_buzz">
        <label for="num1">Please enter the first number</label>
        <input type="text" name="num1">
        <label for="num2">Please enter the second number</label>
        <input type="text" name="num2">
        <button type="submit">Submit</button>
    </form>

    <% if(arr){ %>
        <ul>
            <% arr.forEach(x=> { %>
                <li>
                    <%- x %>
                </li>
                <% }) %>
        </ul>
        <%} %>

            <%- include ('./partial/footer.ejs') %>