<%- include ('./partial/header.ejs') %>
    <form action="/random_person">
        <textarea name="list"></textarea>
        <input type="submit" value="Submit">
    </form>
    <% if(name) {%>
        <h1>Random Name is: <%-name %>
        </h1>
        <% } %>

            <%- include ('./partial/footer.ejs') %>