<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Person</title>
</head>

<body>
    <form action="/random_person">
        <textarea name="list"></textarea>
        <input type="submit" value="Submit">
    </form>
    <% if(name) {%>
        <h1>Random Name is: <%-name %>
        </h1>
        <% } %>

</body>

</html>