<!-- show the form to create a new todo -->

<%- include('../partials/header.ejs') %>
    <h1 class="ms-3">Create a new todo</h1>
    <form action='/todos' method='post' class="mx-3">

        <%- include('../partials/form.ejs') %>
            <%- include('../partials/footer.ejs') %>