<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Express App</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/hello_world">Hello World</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/survey">Survey</a>
                    </li>
                </ul>
                <% if(username){ %>
                    <li>
                        <span>Hello, <%- username %> </span>
                        <form action="/sign_out" method="post">
                            <input type="submit" value="Sign Out">
                        </form>
                    </li>
                    <%}else{%>
                        <li>
                            <form action="/sign_in" method="post">
                                <input type="text" name="username">
                                <input type="submit" value="Sign In">
                            </form>
                        </li>
                        <% } %>
            </div>
        </div>
    </nav>
</header>
<br>
<hr />