<%- include('../partials/header.ejs') %>
    <h1>New Bill</h1>
    <form action="/bills" method="post">
        <div class="row g-3 align-items-center">
            <div class="mb-3">
                <label class="form-label">Bill Total</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input name="billTotal" type="number" class="form-control"
                        aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Tax Percentage</label>
                <input name="taxPercent" type="number" class="form-control" min="0" max="100">
            </div>

            <div class="mb-3">
                <label class="form-label">Tip Percentage</label>
                <input name="tipPercent" type="number" class="form-control" min="0" max="100">
            </div>

            <div class="mb-3">
                <label class="form-label">Group Size</label>
                <input name="groupSize" type="number" class="form-control" min="1">
            </div>

            <input type="submit" value="New Bill" class="btn btn-primary col-auto">
        </div>
    </form>

    <%- include('../partials/footer.ejs') %>